.TabelaProdutos table {
    width: 100%;
}
.TabelaProdutos th {
    background-color: #0a02fad9;
    color: #fff;
}
.TabelaProdutos .Par {
    background-color: #ddd;
}
.TabelaProdutos .Impar {
    background-color: rgb(192, 191, 191);
}